.row, h3 {
    margin-top: 40px;
}

.notes {
    padding-left: 30px;
}

.custom-select {
    background-color: transparent;
    border: transparent;
    color: white;
}

.header {
    justify-content: right;
    display: flex;
}