<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <span style="color: white;">FundAfrika</span>
  </a>
  <div class="header">
    <a aria-label="Profile" style="color: white; padding: 8px;" target="_blank" rel="noopener" title="Profile">
      {{user.name}}
    </a>
    <!-- <form [formGroup]="languageForm">
      <select class="custom-select" formControlName="language" (change)="onSelectLanguage($event)">
        <option value=""> {{userLanguage}}</option>
        <option *ngFor="let l of languages" value="{{l.language}}">{{l.language}}</option>
      </select>
    </form> -->
    <a aria-label="Logout" style="color: white; padding: 8px;" target="_blank" rel="noopener" title="Logout" (click)="logout()">
      Logout
    </a>
  </div>
</nav>

<div *ngIf="teacherDashboard">
  <app-upload></app-upload>
</div>

<div class="container">
  <div *ngIf="studentDashboard">
    <h3>Tutorials</h3>
    <div class="row" *ngFor="let tutorial of tutorials">
      <div class="col-md-6">
        <h5>{{tutorial.subject}}</h5>
        <video id="my_video_1" width="100%" height="300px" controls preload="none"
          data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
          <source src="{{tutorial.tutorialUrl}}" type='video/mp4' />
        </video>
      </div>
      <div class="col-md-6 notes">
        <h5> {{tutorial.title}} </h5>
        <p> {{ tutorial.description }}</p>
      </div>
    </div>
    <hr />
  </div>
</div>
